.header__informationBlock-navigation-list-item:hover {
  color: var(--accent-text-color, #ED1C24);
  border-bottom: 2px solid var(--border-main-color, #ED1C24);
}

.header__informationBlock-navigation-list-item-link:focus{
  border: none;
  outline: none;
}

.header__informationBlock-navigation-list-item-link:focus-visible{
  color: var(--accent-text-color, #ED1C24);
  border-bottom: 4px solid var(--border-main-color, #ED1C24);
  padding-bottom:4px;
}

.header__informationBlock-navigation-list-item:focus-within {
  border: none; 
}

.header__informationBlock-address-tel-number:hover {
  text-decoration: underline 2px solid var(--white-accent-color, #FFF);
  text-underline-offset: 5px; 
}

.header__informationBlock-address-tel-number:focus {
  outline:none;
}

.header__informationBlock-address-tel-number:focus-visible {
text-decoration: underline 2px solid var(--white-accent-color, #FFF);
 text-underline-offset: 5px; 
}

.button-stilization--red:hover {
  background: transparent;
  border: var(--border-main-color, #ED1C24) 2px solid;
  color: var(--accent-text-color, #ED1C24);
}

.button-stilization--red:focus-visible {
  background: transparent;
  border: var(--border-main-color, #ED1C24) 2px solid;
  color: var(--accent-text-color, #ED1C24);
}

.button-stilization--white:hover {
  background: var(--button-color-type-red, linear-gradient(92deg, #ED1C24 0%, #ED3F1C 100%));
  border: var(--border-main-color, #ED1C24) 2px solid;
  color: var(--white-accent-color, #FFF);
}

.button-stilization--white:focus-visible {
  background: var(--button-color-type-red, linear-gradient(92deg, #ED1C24 0%, #ED3F1C 100%));
  border: var(--border-main-color, #ED1C24) 2px solid;
  color: var(--white-accent-color, #FFF);
}

.feedback__text-decoration:hover {
  color: rgba(255, 0 , 0, 0.55);
  border-bottom: 2px solid rgba(255, 0 , 0, 0.55);
}

.feedback__text-decoration:focus {
  border: none;
  outline: none;
}

.feedback__text-decoration:focus-visible {
  color: rgba(255, 0 , 0, 0.55);
  border-bottom: 2px solid rgba(255, 0 , 0, 0.55);
}

.dropdown-text-link:hover {
  border-bottom: 2px solid var(--border-main-color, #ED1C24);
}

.dropdown-text-link:focus {
  outline: none;
}

.dropdown-text-link:focus-visible {
  border-bottom: 2px solid var(--border-main-color, #ED1C24);
}

.information__text-address-list-item-decoration:hover {
  color: var(--accent-text-color, #ED1C24);
  border-bottom: 2px solid var(--border-main-color, #ED1C24);
}

.information__text-address-list-item-decoration:focus {
  outline: none;
}

.information__text-address-list-item-decoration:focus-visible {
  color: var(--accent-text-color, #ED1C24);
  border-bottom: 2px solid var(--border-main-color, #ED1C24);
}

.feedback__input:focus-visible {
  outline: 2px solid var(--border-main-color, #ED1C24);
}

.feedback__textarea:focus-visible {
  outline: 2px solid var(--border-main-color, #ED1C24);
}

.footer__contact-list-links:hover {
  border-bottom: 2px solid var(--white-accent-color, #FFF);
}

.footer__contact-list-links:focus {
  outline: none;
}

.footer__contact-list-links:focus-visible {
  border-bottom: 2px solid var(--white-accent-color, #FFF);
}

.footer__documents-list-item-docs:hover {
 text-decoration: underline 2px solid var(--white-accent-color, #FFF);
 text-underline-offset: 5px; 
}

.footer__documents-list-item-docs:focus {
  outline: none;
}

.footer__documents-list-item-docs:focus-visible {
   text-decoration: underline 2px solid var(--white-accent-color, #FFF);
 text-underline-offset: 5px; 
   
}