.header__informationBlock-navigation-list-item:hover {
  border-bottom: 2px solid var(--border-main-color, #ed1c24);
  color: var(--accent-text-color, #ed1c24);
}

.header__informationBlock-navigation-list-item-link:focus {
  border: none;
  outline: none;
}

.header__informationBlock-navigation-list-item-link:focus-visible {
  border-bottom: 4px solid var(--border-main-color, #ed1c24);
  padding-bottom: 4px;
  color: var(--accent-text-color, #ed1c24);
}

.header__informationBlock-navigation-list-item:focus-within {
  border: none;
}

.header__informationBlock-address-tel-number:hover {
  text-decoration: underline 2px solid var(--white-accent-color, #fff);
  text-underline-offset: 5px;
}

.header__informationBlock-address-tel-number:focus {
  outline: none;
}

.header__informationBlock-address-tel-number:focus-visible {
  text-decoration: underline 2px solid var(--white-accent-color, #fff);
  text-underline-offset: 5px;
}

.button-stilization--red:hover {
  border: var(--border-main-color, #ed1c24) 2px solid;
  color: var(--accent-text-color, #ed1c24);
  background: transparent;
}

.button-stilization--red:focus-visible {
  border: var(--border-main-color, #ed1c24) 2px solid;
  color: var(--accent-text-color, #ed1c24);
  background: transparent;
}

.button-stilization--white:hover {
  border: var(--border-main-color, #ed1c24) 2px solid;
  color: var(--white-accent-color, #fff);
  background: var(
    --button-color-type-red,
    linear-gradient(92deg, #ed1c24 0%, #ed3f1c 100%)
  );
}

.button-stilization--white:focus-visible {
  border: var(--border-main-color, #ed1c24) 2px solid;
  color: var(--white-accent-color, #fff);
  background: var(
    --button-color-type-red,
    linear-gradient(92deg, #ed1c24 0%, #ed3f1c 100%)
  );
}

.feedback__text-decoration:hover {
  border-bottom: 2px solid rgba(255, 0, 0, 0.55);
  color: rgba(255, 0, 0, 0.55);
}

.feedback__text-decoration:focus {
  border: none;
  outline: none;
}

.feedback__text-decoration:focus-visible {
  border-bottom: 2px solid rgba(255, 0, 0, 0.55);
  color: rgba(255, 0, 0, 0.55);
}

.dropdown-text-link:hover {
  border-bottom: 2px solid var(--border-main-color, #ed1c24);
}

.dropdown-text-link:focus {
  outline: none;
}

.dropdown-text-link:focus-visible {
  border-bottom: 2px solid var(--border-main-color, #ed1c24);
}

.information__text-address-list-item-decoration:hover {
  border-bottom: 2px solid var(--border-main-color, #ed1c24);
  color: var(--accent-text-color, #ed1c24);
}

.information__text-address-list-item-decoration:focus {
  outline: none;
}

.information__text-address-list-item-decoration:focus-visible {
  border-bottom: 2px solid var(--border-main-color, #ed1c24);
  color: var(--accent-text-color, #ed1c24);
}

.feedback__input:focus-visible {
  outline: 2px solid var(--border-main-color, #ed1c24);
}

.feedback__textarea:focus-visible {
  outline: 2px solid var(--border-main-color, #ed1c24);
}

.footer__contact-list-links:hover {
  border-bottom: 2px solid var(--white-accent-color, #fff);
}

.footer__contact-list-links:focus {
  outline: none;
}

.footer__contact-list-links:focus-visible {
  border-bottom: 2px solid var(--white-accent-color, #fff);
}

.footer__documents-list-item-docs:hover {
  text-decoration: underline 2px solid var(--white-accent-color, #fff);
  text-underline-offset: 5px;
}

.footer__documents-list-item-docs:focus {
  outline: none;
}

.footer__documents-list-item-docs:focus-visible {
  text-decoration: underline 2px solid var(--white-accent-color, #fff);
  text-underline-offset: 5px;
}
