/* Стилизация маркера для списка - маркер точка красная */

.marker-decoration {
  position: relative;
  padding-left: 22px;
}

.marker-decoration::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(
    --button-color-type-red,
    linear-gradient(92deg, #ed1c24 0%, #ed3f1c 100%)
  );
  transform: translateY(-50%);
}

/* Внутренний белый круг и центр красный */
.marker-decoration::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px var(--white-accent-color, #fff);
  background: var(
    --button-color-type-red,
    linear-gradient(92deg, #ed1c24 0%, #ed3f1c 100%)
  );
  transform: translateY(-50%);
}

/* Конец  */

/* Стилизация маркера для списка - маркер красная галочка */

.marker-decoration-check {
  position: relative;
  padding-left: 37px;
}

.marker-decoration-check::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  width: 10px;
  height: 25px;
  border-right: 2px solid var(--border-main-color, #ed1c24);
  border-bottom: 2px solid var(--border-main-color, #ed1c24);
  transform: translateY(-80%) rotate(45deg);
}

.marker-decoration-check::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #ccc;
  border-radius: 50%;
  transform: translateY(-50%);
}

/* Конец  */

/* Стилизация кнопки - красная  */

.button-stilization--red {
  border: 2px solid var(--border-main-color, #ed1c24);
  border-radius: 16px;
  padding-block: 18px;
  color: var(--white-accent-color, #fff);
  text-align: center;
  background: var(
    --button-color-type-red,
    linear-gradient(92deg, #ed1c24 0%, #ed3f1c 100%)
  );
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  inline-size: 100%;
}

/* Конец  */

/* Стилизация кнопки - белая  */

.button-stilization--white {
  border: 2px solid var(--border-main-color, #ed1c24);
  border-radius: 16px;
  padding-block: 18px;
  color: var(--accent-text-color, #ed1c24);
  text-align: center;
  background-color: var(--main-background-color, #fff);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  inline-size: 100%;
}

/* Конец  */

/* Декоративная полоска для заголовков красная*/

.decoration-line-red {
  position: relative;
  display: inline;
}

.decoration-line-red::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(
    --button-color-type-red,
    linear-gradient(92deg, #ed1c24 0%, #ed3f1c 100%)
  );
}

/* Конец  */

/* Декоративная полоска для заголовков белая*/

.decoration-line-white {
  position: relative;
  display: inline-block;
}

.decoration-line-white::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-background-color, #fff);
}

/* Конец  */

/* PDF Иконка */

.icon-pdf {
  position: relative;
  display: inline-block;
}

.icon-pdf::before {
  content: "PDF";
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1.5px solid var(--white-accent-color, #fff);
  border-radius: 6px;
  font-weight: bold;
  font-size: 6px;
  transform: translateY(-50%);
}

/* Конец */

/* Кнопка для выпадающего списка красная на белом фоне */

.dropdown-button-red {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--main-background-color, #fff);
}

.dropdown-button-red::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid var(--border-main-color, #ed1c24);
  border-left: 2px solid var(--border-main-color, #ed1c24);
  transition: transform 0.3s ease;
  transform: rotate(-45deg);
}

.dropdown-list--decoration.open .dropdown-button-red::after {
  transform: rotate(135deg);
}

/* Конец */

/* Красная звезда над кнопкой */

.red-stars {
  position: relative;
}

.red-stars::before {
  content: "★";
  position: absolute;
  top: -155%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 63px;
  border: 2px solid var(--border-main-color, #ed1c24);
  border-radius: 50%;
  color: var(--accent-text-color, #ed1c24);
  font-size: 40px;
  background-color: var(--main-background-color, #fff);
  transform: translateX(-50%);
}

/* Конец */

/* Текст заголовков */

.big-text {
  font-weight: 700;
  font-size: 2.625rem;
  text-transform: uppercase;
}

/* Конец */

/* Заголовок карточек предоставляемых услуг */

.service-card-title {
  color: #0a0909;
  font-weight: 700;
  font-size: 42px;
  text-transform: uppercase;
}

/* Конец */

/* Скролл прогресс бар */

#scrollProgress {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 0%;
  height: 5px;
  background: var(
    --button-color-type-red,
    linear-gradient(92deg, #ed1c24 0%, #ed3f1c 100%)
  );
  transition: width 0.1s ease-out;
}

/* Конец */

/* Ошибка  */

.error {
  border-color: #f23131;
  box-shadow: 0 0 0 4px rgba(242, 49, 49, 0.4);
}

.error-message {
  margin-top: 8px;
  color: #f23131;
  font-size: 18px;
  line-height: 1;
}

/* Конец */

/* Модальное окно при отправке заявки */

.submitted-window[open] {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 2px solid red;
  border-radius: 16px;
  padding: 50px;
  transform: translate(-50%, -50%);
}

.submitted-window::backdrop {
  opacity: 0.75;
  background-color: black;
}

.submitted-window__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  text-align: center;
}

.submitted-window__content-message {
  font-weight: 600;
  text-transform: uppercase;
}

@media (width <=767px) {
  .submitted-window[open] {
    width: 75%;
    padding: 25px;
  }
}

/* Конец */
